.tournamentItem {
  position: relative;
  min-width: 304px;
  min-height: 78px;
  padding: 8px 8px 8px 25px;
  background-color: #373352;
  border-radius: 4px;
  word-break: break-all;
}

.tournamentItem__available-status {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 4px;
  font-weight: 600;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  background-color: #5e5a79;
  border-radius: 0 4px 4px 0;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

.tournamentItem__available-status--active {
  background-color: #00bb40;
}

.tournamentItem__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tournamentItem__tags {
  display: flex;
  gap: 4px;
  margin-bottom: 9px;
  flex-wrap: wrap;
}

.tournamentItem__name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  flex-shrink: 1;
}

.tournamentItem__name--accent-prime {
  color: #86ff8b;
}

.tournamentItem__name--accent {
  color: #faff1a;
}

.tournamentItem__details {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.details__decor {
  display: flex;
  gap: 1px;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.details__decor--date {
  &::before {
    background-image: url("./src/assets/time-icon.svg");
  }
}

.details__decor--players {
  &::before {
    background-image: url("./src/assets/players-icon.svg");
  }
}

.details__decor--score {
  &::before {
    background-image: url("./src/assets/score-icon.svg");
  }
}

.tournamentItem__button {
  align-self: flex-start;
  padding: 11px 10px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}

.tournamentItem__button--active {
  color: #ffffff;
  background-color: #00bb40;
}
